* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1a1a1a;
  color: #fff;
  font-family: "Inter", sans-serif;

  --primary-color: #ff3030;
  --text-color: #ddd;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 4rem;
  font-size: 2rem;
  text-align: center;
}
.nav-item {
  font-size: 0.6rem;
  padding: 1rem;
  color: #fff;
  background-color: transparent;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: color 0.2s ease-in-out;
}

.nav-item:hover {
  color: var(--primary-color);
}

.title {
  margin: 0 0 1rem 0;
  font-size: 3rem;
  line-height: 3rem;
  font-family: "Lobster", cursive;
}

.hero {
  height: calc(100vh - 5rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.slogan {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5rem;
}

.hero-action {
  margin-top: 4rem;
}

.button {
  color: #fff;
  background-color: var(--primary-color);
  text-decoration: none;
  border: 1px solid var(--primary-color);
  padding: 1rem 2rem;
  transition: color 0.2s ease-in-out;
}

.button:hover {
  color: var(--primary-color);
  background-color: transparent;
}

.heading {
  margin: 1rem 0 1rem 0.3rem;
  text-decoration: underline var(--primary-color);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.about-text {
  font-size: 0.8rem;
  color: var(--text-color);
  margin-left: 0.3rem;
}

.button {
  display: inline-block;
  font-size: 1rem;
  color: #fff;
  background-color: var(--primary-color);
  text-decoration: none;
  border: 1px solid var(--primary-color);
  padding: 10px;
  margin-left: 0.3rem;
  transition: color 0.2s ease-in-out;
}

.button:hover {
  color: var(--primary-color);
  background-color: transparent;
}

.about-images {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.about-image {
  width: 30%;
  height: 30%;
}

.twopictures {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  float: left;
}

@media only screen and (min-width: 600px) {
  .navbar {
    gap: 2rem;
    font-size: 1rem;
  }
  .title {
    font-size: 4rem;
    line-height: 4rem;
  }
  .slogan {
    font-size: 1.5rem;
  }
  .button {
    padding: 1.2rem 2.5rem;
  }

  @media only screen and (min-width: 1000px) {
    .navbar {
      gap: 4rem;

      .title {
        font-size: 6rem;
        line-height: 6.5rem;
      }

      .heading {
        font-size: 2rem;
      }
    }
  }
}
